@font-face {
  font-family: "Calling Heart";
  src: url('../assets/font/Calling Heart.ttf');
}
@font-face {
  font-family: "Only of Quickly";
  src: url('../assets/font/Only of Quickly_Free_Versions.ttf');
}
@font-face {
  font-family: 'Matter';
  src: url('../assets/font/Matter-Regular.otf') format('opentype');
  font-weight: normal;
}
@font-face {
  font-family: 'Matter';
  src: url('../assets/font/Matter-Medium.otf') format('opentype');
  font-weight: 500;
}
@font-face {
  font-family: 'Matter';
  src: url('../assets/font/Matter-SemiBold.otf') format('opentype');
  font-weight: 600;
}